<div class="main">
    <header>
        <div class="wrap">
          <div class="">
            <div class="header-wrapper columns large-6">
                <h1><%= image_tag 'logo.svg' %>Heat Map</h1>
                <ul class="features">
                    <li>Analyze temperature at your work space, home or public building and take action to reduce your energy consumption.</li>
                    <li>Send alerts when temperature goes above or below a certain limit.</li>
                    <li>Visualize data on top of a floor plan or graph it to detect trends to help save you energy.</li>
                </ul>
            </div>

            <div class="columns large-6">
              <div class="row column log-in-form">
                <%= render template: 'active_admin/devise/sessions/new' %>
              </div>
            </div>
          </div>
        </div>
        <!-- /.wrap -->
    </header>
    <div class="spanning">
        <div class="promo clearfix">
            <div class="wrap">
                <div class="promo-wrapper clearfix">
                    <div class="promo-column">
                        <%= image_tag "pin.png", height: "32", width: "24" %>
                        <h5>Area</h5>
                        <p>Find areas that are too hot or cold by taking readings at regular interval throughout the day. The units placed can measure both temperature and humidity and can be placed anywhere where there is access to power outlet.</p>
                    </div>
                    <div class="promo-column">
                        <%= image_tag "easy.png", height: "32", width: "34" %>
                        <h5>Easy</h5>
                        <p>Easy to visualize temperature and humidity data over time for the past day or month or year. Data can be rendered as line graphs or you can create a historgram of average temperature. You can also display the data on top of a floor plan.</p>
                    </div>
                    <div class="promo-column">
                        <%= image_tag "settings.png", height: "32", width: "33" %>
                        <h5>Configurable</h5>
                        <p>Solution is configurable to every client to send alerts based on certain rules. Configuration to send readings every minute to whom to send alerts to can be done via the Admin Portal.</p>
                    </div>
                    <div class="promo-column">
                        <%= image_tag "saturn.png", height: "32", width: "32" %>
                        <h5>Setup</h5>
                        <p>Units placed can be setup in a Mesh network with one unit having access to the internet which it shares with all other units or all units connect to a Wifi access point to send data directly over the internet. This system is always on and always healing itself.</p>
                    </div>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.promo clearfix -->
        <div class="discover clearfix">
            <div class="wrap">
                <div class="discover-content clearfix">
                    <h2>Discover</h2>
                    <p>Data that is collected is saved in the database and in a search index so it can quickly generate graphs for the past day, week, month or even year. Generate different types of charts such as a line graph to spot trends or histograms to compare or display statistic to be shown on a large monitor. You can even display temperature/humidity data on top of a floor plan to spot hot and cold regions.</p>
                </div>
                <div class="discover-img">
                    <div class="discover-img-inside">
                      <%= image_tag "metrics.jpg" %>
                    </div>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.discover clearfix -->
        <div class="video clearfix">
            <div class="wrap center">
                <h2>Visualize Data</h2>
                <p>View data as a graph or overlay on top of your custom floor plan to help discover hot and cold areas in your space.</p>
                <%= image_tag "floorplan.png" %>
                <div class="video-subtitle"><a class="button" href="mailto:ankur@encoredevlabs.com">Contact Us for Demo</a></div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.discover clearfix -->
        <div class="awards clearfix">
            <div class="wrap">
                <h2>In News</h2>
                <div class="awards-wrapper clearfix">
                    <div class="awards-column">
                        <a href="http://www.sustainablejersey.com/media-communications/news-single-view/?tx_news_pi1%5Bnews%5D=366&tx_news_pi1%5Bcontroller%5D=News&tx_news_pi1%5Baction%5D=detail&cHash=7f9301f2ebef526358dd1922ba790867" target="_blank"><%= image_tag "sustainable-jersey.png" %></a>
                        <h5><a href="http://www.sustainablejersey.com/media-communications/news-single-view/?tx_news_pi1%5Bnews%5D=366&tx_news_pi1%5Bcontroller%5D=News&tx_news_pi1%5Baction%5D=detail&cHash=7f9301f2ebef526358dd1922ba790867" target="_blank">Sustainable Jersey Winner</a></h5>
                        <p>Encore Dev Labs won first place in the 2017 Sustainable Jersey's Coding for Community Competition. The competition involved several townships in NJ and several civic hackers consisting of entrpreneurs, engineers, municipal representatives and many more.</p>
                    </div>
                    <div class="awards-column">
                        <a href="http://essexnewsdaily.com/headlne-news/33829" target="_blank"><%= image_tag "maplewood.png" %></a>
                        <h5><a href="http://essexnewsdaily.com/headlne-news/33829" target="_blank">Maplewood Township</a></h5>
                        <p>Implemented pilot in Maplewood's Tuscan Elementary School and plan on implementing in rest of the public schools in Maplewood and South Orange School District.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.spanning-columns -->
</div>
<!-- /.main -->
<footer>
    <div class="wrap">
        <p>&copy; 2017 <strong>Encore Dev Labs LLC</strong>, All Rights Reserved</p>
    </div>
    <!-- /.wrap -->
</footer>
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('hf4pisuu8dwb');
</script>
<!-- End of Async Drift Code -->