<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Heat Map - Encore Dev Labs" %></title>

    <%= stylesheet_link_tag 'application', params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application', params[:controller] %>
    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
